window#osd {
  border-radius: 0px;
  border: 1px solid #000000;
  background: #f6f5f4;
}

window#osd #container {
  margin: 6px;
  padding: 2px;
  background: #f6f5f4;
}

window#osd image {
  -gtk-icon-transform: scale(0.7);
}

window#osd image,
window#osd label {
  color: #000000;
}

window#osd progressbar:disabled,
window#osd image:disabled {
  opacity: 1.0;
}

window#osd progressbar {
  min-height: 6px;
  border-radius: 0px;
  background: #000000;
  border: none;
}

window#osd trough {
  min-height: inherit;
  border-radius: 0px;
  border: none;
  background: #f6f5f4;
}

window#osd progress {
  min-height: inherit;
  border-radius: 0px;
  border: none;
  background: #000000;
}
